*{
	margin: 0em;
	color: #7C7B7B;
	font-family: "微软雅黑";
}

body{
	background-color: #F3F3F3;
}

/*------------------------------------头--------------------------------*/
header{
	width: 100%;
	height: 4em;
	background-color: #FF2D4B;
	opacity: 0.9;
}

.usershop_login{
	float: right;
	margin: 1.5em 2em 1.5em 0.5em;
	width: 8em;
	height: 1em;
	line-height: 0px;
}

.usershop_indent{
	float: right;
	margin: 1.5em 2em 1.5em 0.5em;
	width: 4em;
	height: 1em;
	line-height: 0px;
}

.usershop_indent a{
	display: block;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFF7;
	margin: 0.6em;
	float: left;
}

.usershop_indent a:hover{
	color: #000000;
}
.usershop_login a{
	display: block;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFF7;
	margin: 0.6em;
	float: left;
}

.usershop_login a:hover{
	color: #000000;
}
.login_people{
	width: 16px;
	height: 16px;
}
.login_people img{
	width: 16px;
	height: 16px;
}


/*--------------------------------------logo-----------------------------*/
.hotel_logo{
	float: left;
	width: 3em;
	height: 3em;
	background-color: #FF2D4B;
	margin: 0.5em auto;
	opacity: 0.9;
}
/*--------------------------------------总界面--------------------------*/
.show_list{
	width: 100%;
	height: 40em;
}

/*-------------------------------------左界面-----------------------------*/
.meau_left{
	float: left;
	width: 25%;
	height: 40em;
	background-color: #FFFFFF;
}

.meau_style{
	perspective: inherit;
	width: 80%;
	height: 2em;
	border-radius: 2.5em;
	margin: 0.5em auto;
	border: 1px solid #E7E7E7;
	background-color: #FFFFFF;
	line-height: 2px;
	
}
.meau_style_hotel{
	perspective: inherit;
	width: 80%;
	height: 10em;
	border-radius: 0.5em;
	margin: 1em auto;
	border: 1px solid #F6F6F6;
	background-color: #FFFFFF;
	box-shadow: 3px 3px 3px #888888;
	padding: 0.5em;
}
.meau_style_img{
	perspective: inherit;
	width: 100%;
	height: 2em;
	margin: 2em auto;
}

.meau_style_img li{
	perspective: inherit;
	float: left;
	display: block;
	list-style-type: none;
	width: 2em;
	height: 2em;
	margin: 0em auto 0em 3em;
}

.meau_style a{
	perspective: inherit;
	display: block;
	text-decoration: none;
	width: 100%;
	height: 2em;
	border-radius: 2.5em;
	line-height: 2em;
	text-align: center;
}
.meau_style a:hover{
	color: #C20404;
}
/*-----------------------------------右界面-------------------------------*/
.meau_right{
	float: right;
	width: 74.9%;
	height: 40em;
	border-left: 1px solid #E6E6E6;
	background-color: #FFFFFF;
}

.meau_meal{
	perspective: inherit;
	width: 97%;
	height: 6em;
	border-radius: 0.5em;
	margin: 1em auto;
	padding: 1px;
	border-bottom: 1px solid #E6E6E6;
	background-color: #FFFFFF;
}

.meau_meal:hover{
	background-color: #FCF45C;
}

.meau_meal_img{
	perspective: inherit;
	float: left;
	width: 5em;
	height: 5em;
	border-radius: 0.5em;
	background-color: #B2B2B2;
	margin: 0.5em 0.5em 0.5em 0.5em;
	
}

.meau_meal_img img{
	width: 5em;
	height: 5em;
	border-radius: 0.5em;
}
/*                               菜文字*/
.meau_txt{
	float: left;
	width: 80%;
	height: 5em;
	margin: 0.5em auto;
}
.meau_txt .meau_price{
	color: red;
	font-size: 0.8em;
	margin: 0.5em;
}

.meau_meal a{
	float: right;
	text-decoration: none;
	width: 4.5%;
	height: 2em;
	margin: 1.5em;
	border-radius: 0.6em;
	border-bottom: 1px solid red;
	text-align: center;
	padding: 0px;
	font-size: 1em;
}


.meau_meal input{
	float: right;
	width: 4.5%;
	height: 2em;
	margin: 1.5em;
	border-bottom: 1px solid red;
	border-radius: 2em;
	text-align: center;
	padding: 0px;
	font-size: 1em;
}

.meau_meal input:hover{
	color: #C20404;
	cursor:pointer;
}
/*-----------------------------页脚------------------------*/
footer{
	width: 70%;
	height: 5em;
	margin: 1em auto;
}

.links{
	perspective: initial;
	width: 70%;
	height: 1.5em;
	margin: 0em auto;
}
.links a{
	font-size: 12px;
	margin: 0.5em;
	text-decoration: none;
	color: #7C7B7B;
}

.conpright{
	text-align: center;
	font-size: 12px;
	color: #7C7B7B;
	margin: 0.5em;
}



/*---------------------------------------清除div------------------------------*/
.clear{
    clear:both;
}